{% extends 'qstockapp/base.html' %}
{% load static %}

<!-- head  -->
{% block head %}
<title>Gestion des dettes</title>
<link rel="stylesheet" href="{% static 'css/quickstockapp/form.css' %}">

{% endblock %}

<!-- extra styles  -->
{% block extra_styles %} 

{% endblock %}

<!-- body content -->
{% block body %}
<h3>Renseigner un impayé</h3>
<form method="POST">
    {% csrf_token %} 
    <div class="form-content">
        <div>
            {{ form.granted_date.label_tag }}
            {% include 'qstockapp/date_input.html' %}
            {{ form.granted_date.as_hidden }}
            {% for error in form.granted_date.errors %}
            <p class="error">{{ error }}</p>
            {% endfor %}
            {% include 'qstockapp/date_input_binding.html' %}
        </div>
        <div>
            {{ form.debt_type.label_tag }}
            {{ form.debt_type }}
        </div>
        <div>
            {{ form.person_concerned.label_tag }}
            {{ form.person_concerned }}
        </div>
        <div>
            {{ form.initial_amount.label_tag }}
            {{ form.initial_amount }}
        </div>
        <div>
            {{ form.store.label_tag }}
            {{ form.store }}
        </div>
    </div>
    <button type="submit">Enrégistrer</button>
    <a class="link" href="{% url 'debts:debt_list' %}">Annuler</a>
</form>
{% endblock %}
