{% load static %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        {% load pwa %}
        {% progressive_web_app_meta %}
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/qstockapp/reset.css' %}">
        <link rel="stylesheet" href="{% static 'css/qstockapp/base.css' %}">
        <script src="{% static 'js/qstockapp/theme.js' %}" defer></script>
        {% block head %}
        <title>{% if company_name %} {{ company_name }} {% else %} QuickStock {% endif %}</title>
        {% endblock %}
        <style>
            body {
                padding: 0;
                margin: 0;
            }
            li {
                list-style: none;
            }
            
            h1 {
                font-size: 25px;
            }
            .menu ul {

                padding: 0;
            }
            {% block extra_styles %}
            {% endblock %}
        </style>
    </head>
    <body>
        <div class="theme_color" style="display: none;">{{ current_store.accent_color_code }}</div>
        <main>
            <div class="sidebar">
                <div class="app_name">
                    <h1>{% if company_name %} {{ company_name }} {% else %} QuickStock {% endif %}</h1>
                </div>
                <div class="sidebar-content">
                    <div class="menu">
                        <ul>
                            <li><a href="{% url 'home' %}">Tableau de bord</a></li>
                            <li><a href="{% url 'products:product_list' %}">Produits</a></li>
                            <li><a href="{% url 'orders:order_list' %}">Commandes</a></li>
                            <li><a href="{% url 'sales:sale_list' %}">Ventes</a></li> 
                        </ul>
                    </div>
                    <div class="bottom">
                        <li><a href="{% url 'settings:setting_update' %}">Paramètres</a></li> 
                        <li>
                            <a href="{% url 'accounts:logout' %}">Déconnexion</a>
                        </li>
                    </div>
                </div>
            </div>
            <div class="container">
                <header>
                    <div class="title">
                        <h2>
                            {{ page_title }}
                        </h2>
                    </div>
                    <div>
                        <div class="current-store">
                                <span class="current">{{ current_store }}</span>
                                <span class="edit">
                                    <a href="{% url 'stores:store_list' %}" title="Changer de magazin">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M5 19V15.6944L15.2667 5.44722C15.4222 5.30463 15.5941 5.19444 15.7823 5.11667C15.9706 5.03889 16.1681 5 16.375 5C16.5819 5 16.7828 5.03889 16.9778 5.11667C17.1727 5.19444 17.3413 5.31111 17.4833 5.46667L18.5528 6.55556C18.7083 6.69815 18.8219 6.86667 18.8934 7.06111C18.965 7.25556 19.0005 7.45 19 7.64444C19 7.85185 18.9645 8.04967 18.8934 8.23789C18.8224 8.42611 18.7088 8.59774 18.5528 8.75278L8.30555 19H5ZM16.3556 8.73333L17.4444 7.64444L16.3556 6.55556L15.2667 7.64444L16.3556 8.73333Z" fill="black"/>
                                        </svg>
                                    </a>
                                </span>
                        </div>
                        <span title="Profile utilisateur">
                            <a class="user" href="{% url 'accounts:details' %}">
                                <span>
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M8 7C8 5.93913 8.42143 4.92172 9.17157 4.17157C9.92172 3.42143 10.9391 3 12 3C13.0609 3 14.0783 3.42143 14.8284 4.17157C15.5786 4.92172 16 5.93913 16 7C16 8.06087 15.5786 9.07828 14.8284 9.82843C14.0783 10.5786 13.0609 11 12 11C10.9391 11 9.92172 10.5786 9.17157 9.82843C8.42143 9.07828 8 8.06087 8 7ZM8 13C6.67392 13 5.40215 13.5268 4.46447 14.4645C3.52678 15.4021 3 16.6739 3 18C3 18.7956 3.31607 19.5587 3.87868 20.1213C4.44129 20.6839 5.20435 21 6 21H18C18.7956 21 19.5587 20.6839 20.1213 20.1213C20.6839 19.5587 21 18.7956 21 18C21 16.6739 20.4732 15.4021 19.5355 14.4645C18.5979 13.5268 17.3261 13 16 13H8Z" fill="white"/>
                                    </svg>
                                </span>
                                {% if user.fullname != None %}
                                    {{ user.fullname|title }}
                                {% else %}
                                    {{ user.username }}
                                {% endif %}
                            </a>
                        </span>
                    </div>
                </header>
                <div class="body_content">
                    
                    {% block body %} {% endblock %}
                </div>
            </div>
        </main>
        <div class="messages">
            {% for message in messages %}
                <p {% if message.tags %} class="{{ message.tags }}"{% endif %} > {{ message }}</p>
            {% endfor %}
            {% block extra_messages %}
            {% endblock %}
        </div>

    </body>
</html>
