{% extends 'qstockapp/base.html' %}
{% load static %}

<!-- head  -->
{% block head %}
<title>Gestion des ventes</title>
<link rel="stylesheet" href="{% static 'css/quickstockapp/form.css' %}">
<link rel="stylesheet" href="{% static 'css/sales/form.css' %}">

{% endblock %}

<!-- extra styles  -->
{% block extra_styles %} 

{% endblock %}

<!-- body content -->
{% block body %}
<h3>Ajoutez une vente</h3>
<form method="POST">
    {% csrf_token %} 
    <div class="form-content vertical">
        
        <div>
            {{ form.sale_date.label_tag }}
            {% include 'qstockapp/date_input.html' %}
            {{ form.sale_date.as_hidden }}
            {% for error in form.sale_date.errors %}
            <p class="error">{{ error }}</p>
            {% endfor %}
            {% include 'qstockapp/date_input_binding.html' %}
        </div>
        <div>
            {{ form.store.label_tag }}
            {{ form.store }}
        </div>
        <div>
            {{ form.buyer_name.label_tag }}
            {{ form.buyer_name }}
        </div>
        <div>
            {{ form.buyer_phone.label_tag }}
            {{ form.buyer_phone }}
        </div>
        <div>
            <div>
                {{ form.products.label_tag }}
                <p class="helptext">{{ form.products.help_text }}</p>
                {{ form.products }}
                <a href="#" id="add_btn" class="link primary">➕Ajouter</a>
            </div>
            <div id="selected_products">
                <p>Aucun produit sélectionné</p>
            </div>
            <script src="{% static 'js/sales/product_select_field_perform.js' %}"></script>
        </div>


    </div>
    <button type="submit">Enrégistrer</button>
    <a class="link" href="{% url 'sales:sale_list' %}">Annuler</a>
</form>
{% endblock %}

