{% extends 'qstockapp/base.html' %}
{% load static %}
{% load money_string %}
{% load template_permission %}

<!-- head  -->
{% block head %}
    <title>Gestion des ventes</title>
    <link rel="stylesheet" href="{% static 'css/quickstockapp/details.css' %}">
    <link rel="stylesheet" href="{% static 'css/sales/details.css' %}">
{% endblock %}

<!-- extra styles  -->
{% block extra_styles %} 
{% endblock %}

<!-- body content -->
{% block body %}
    <h3>Details vente</h3>
    <div class="properties" style="grid-template-rows: repeat(2, 1fr)">
        <p>Date de la vente <span>{{ sale.sale_date }}</span></p>
        <p>Statut <span class="{{ sale.status_class_name }}">{{ sale.status_display }}</span></p>
        <p>Nom de l'acheteur 
            <span>
                {% if sale.buyer_name != None %}{{ sale.buyer_name }} {% else %} - {% endif %}
            </span>
        </p> 
        <p>Téléphone de l'acheteur 
            <span>
                {% if sale.buyer_phone != None %}{{ sale.buyer_phone }} {% else %} - {% endif %}
            </span>
        </p> 
        <p>Réduction 
            <span>
                {% if sale.discount_applied %} OUI {% else %} NON {% endif %}
            </span>
        </p> 
    </div>
    <div class="sale-details-table">
        <div>
            <table style="background-color: var(--lightgray); padding: 1rem; border-radius: 10px;">
                <thead>
                    <tr>
                        <th>Désignation produit</th>
                        <th>Quantité vendu</th>
                        <th>Prix unitaire</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for saleproduct in sale.saleproduct_set.all %}
                        <tr>
                            <td>
                                <a href="{% url 'products:product_details' slug=saleproduct.product.slug %}" class="table-link">
                                    {{ saleproduct.product.name }}
                                </a>
                            </td>
                            <td>{{ saleproduct.quantity }}</td>
                            <td>{{ saleproduct.product.unit_price_sale|money_string }}</td>
                            <td>{{ saleproduct.total|money_string }}</td>
                        </tr>
                    {% endfor %}
                    {% if sale.discount_applied %}
                    <tr>
                        <td>Réduction appliquée</td>
                        <td></td>
                        <td></td>
                        <td><b>{{ sale.discount|money_string }}</b></td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td>Total général</td>
                        <td></td>
                        <td></td>
                        <td><b>{{ sale.total_amount|money_string }}</b></td>
                    </tr>
                </tbody>
            </table>
            <div>
                <h4>Total payé</h4>
                <p class="total">{{ sale.total_amount|money_string }} <span>FCFA</span></p>
            </div>
        </div>
    </div>
    
    {% if sale.status == '2' %}
        {% if request.user|has_permission:"sales.can_delete_sale" %}
        <a class="link danger" href="{% url 'sales:sale_delete' pk=sale.pk %}">Supprimer</a>
        {% endif %}
    {% else %}
        {% if request.user|has_permission:"sales.can_change_sale" %}
        <a href="{% url 'sales:sale_cancel' pk=sale.pk %}" class="btn danger">Annuler cette vente</a>
        {% endif %}
    {% endif %}
    {% if request.user|has_permission:"sales.can_change_sale" %}
    <a href="{% url 'sales:sale_invoice' sale_pk=sale.pk %}" class="btn primary">Générer une facture</a>
    <a class="link primary" href="{% url 'sales:sale_update' pk=sale.pk %}">Modifier</a>
    {% endif %}
    <a class="link" href="{% url 'sales:sale_list' %}">Retour à la liste ventes</a>

{% endblock %}


