html {
    font-size: 16px;
}
:root {
    --white: #fff;
    --black: #201e1e;
    --subwhite: #fbfbfb;
    --primary: #4a75a0;
    --secondary: #98CAFB;
    --accent: #409e8a;
    --gray: #636363;
    --lightgray: #e0e0e0;
    --error: #D86346;
    --sidebar: #e7e7e7;

    --product-stock-alert-background: #f9dad1;
    --product-stock-alert-border: var(--error);
    --product-stock-warn-background: #fff2dc;
    --product-stock-warn-border: orange;

    --dashbord-best-seller-bg: #e6f7da;
    --dashbord-stock-alert-bg: #fceae5;
    --dashbord-recent-sales-bg: #e5edfc;
}

* {
    color: var(--black);
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}