tbody tr {
    background: none;
}
.stats {
    display: flex;
    /* gap: 2rem; */
    justify-content: space-between;
    background-color: var(--white);
    padding: 1.25rem;
    border-radius: 10px;
    margin-bottom: 2rem;
}
.stats p {
    font-size: 3rem;
    font-weight: 700;
}
.stats p.label {
    font-weight: 500;
    font-size: 1rem;
    display: flex;
    gap: 10px;
    align-items: center;
}
.dashbord-content {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: flex-start;
}
.dashbord-content > div {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.bord {
    padding: 1.25rem;
    border-radius: 10px;
}
.out-products > p {
    margin-top: 1rem;
}
.out-products p > a {
    display: inline-block;
    color: var(--primary);
    /* text-decoration: underline; */
    /* font-weight: 700; */
}
.out-products {
    background-color: var(--dashbord-stock-alert-bg);
}
.period {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.period_form {
    display: flex;
    gap: 10px;
}
.best-products {
    background-color: var(--dashbord-best-seller-bg);
}
.recent-sales {
    background-color: var(--dashbord-recent-sales-bg);
}
.pin-code-test.hide {
    display: none;
}
.pin-code-test {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--subwhite);
    padding: 30px 100px;
    border-radius: 10px;
    box-shadow: 1px 1px 45px #201e1e38;
}
.stats-display-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4rem;
}
.stats-display-btn path {
    fill: var(--gray);
}
.stats-display-btn span:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
}
.pin-code-test h3 {
    text-align: center;
    margin-bottom: 1rem;
}
.pin-code-test input[type=password] {
    max-width: 150px;
    text-align: center;
    font-size: 1.1rem;
    letter-spacing: 2px;
}
.pin-code-test input[type=password].error:focus {
    border: 1px solid var(--error);
}
form {
    margin: 0;
}
.pin-code-test form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 0;
}