.stats {
    display: flex;
    /* gap: 2rem; */
    justify-content: space-between;
    background-color: var(--white);
    padding: 1.25rem;
    border-radius: 10px;
    margin-bottom: 2rem;
}
.stats p {
    font-size: 3rem;
    font-weight: 700;
}
.stats p.label {
    font-weight: 500;
    font-size: 1rem;
    display: flex;
    gap: 10px;
    align-items: center;
}
.products-status {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: flex-start;
}
.products-status > div {
    background-color: var(--white);
    padding: 1.25rem;
    border-radius: 10px;
    flex-grow: 2;
}
.out-products > p {
    margin-top: 1rem;
}
.out-products p > a {
    display: inline-block;
    color: var(--primary);
    /* text-decoration: underline; */
    /* font-weight: 700; */
}
.period {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 0;
}
.period_form {
    display: flex;
    gap: 10px;
}