table {
    /* border-collapse: collapse; */
    width: 100%;
}
td,th {
    padding: 10px;
    text-align: left;
    white-space: nowrap;
    /* max-width: 300px; */
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 220px;
}
td {
    font-size: 1.12rem;
}
th {
    font-size: 1rem;
    font-weight: 600;
}
tbody tr {
    background-color: var(--white);
}
td.actions {
    display: flex;
    gap: 10px;
}
td.actions svg:hover path {
    fill: var(--primary);
}
tr.alert {
    background-color: var(--product-stock-alert-background);
    border: 1px solid var(--product-stock-alert-border);
}
tr.warn {
    background-color: var(--product-stock-warn-background);
    border: 1px solid var(--product-stock-warn-border);
}
.table-link {
    font-weight: 700;
}
.table-link:hover {
    color: var(--primary);
}