{% extends 'qstockapp/base.html' %}
{% load static %} 

<!-- head  -->
{% block head %}
    <title>Gestion des produits</title>
    <link rel="stylesheet" href="{% static 'css/quickstockapp/table.css' %}">
    <link rel="stylesheet" href="{% static 'css/quickstockapp/details.css' %}">
    <script src="{% static 'js/quickstockapp/period_change.js' %}" defer></script>
{% endblock %}

<!-- extra styles  -->
{% block extra_styles %} 
  
{% endblock %}

<!-- body content -->
{% block body %}
    <h3>Details produit</h3>
    <div class="properties">
        <p>Nom <span>{{ product.name }}</span></p>
        <p>
            Quantité en stock <span>{{ product.stock_quantity }}</span>
        </p>
        <p>Paquetage <span>{% if product.packaging_type %} {{ product.packaging_type }} {% else %} - {% endif %}</span></p>
        <p>
            Prix unitaire gros (FCFA)
            <span>{{ product.wholesale_unit_price }}</span>
        </p>
        <p>
            Prix unitaire vente (FCFA)
            <span>{{ product.unit_price_sale }}</span>
        </p>
    </div>

    <div class="actions">
        <a class="link primary" href="{% url 'products:product_update' slug=product.slug%}">modifier</a>
        <a class="link danger" href="{% url 'products:product_delete' slug=product.slug %}">Supprimer</a>
        <a class="link" href="{% url 'products:product_list' %}">Retour à liste produits</a>
    </div>

    <div class="rencent-sales">
        <div class="title-form">
            <h4>Récentes ventes</h4>
            <div class="filter-form">
                <form method="GET">
                    <select name="current_period" id="period">
                        {% for period in periods %}
                            {% if period.month == current_month and period.year == current_year %}
                            <option selected value="{{ period.month }}-{{ period.year }}">
                                {% if period.month == now_period.month and period.year == now_period.year %}
                                Ce mois-ci
                                {% else %}
                                {{ period.month|stringformat:'02d'  }}/{{ period.year }}
                                {% endif %}
                            </option>
                            {% else %}
                            <option value="{{ period.month }}-{{ period.year }}">
                                {% if period.month == now_period.month and period.year == now_period.year %}
                                Ce mois-ci
                                {% else %}
                                {{ period.month|stringformat:'02d'  }}/{{ period.year }}
                                {% endif %}
                            </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <button type="submit" style="display: none;"></button>
                </form>
            </div>
        </div>

        {% if recent_sales %}
        <table>
            <thead>
                <tr>
                    {% for column in sale_column_names %}
                    <th>{{ column }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for sale in recent_sales %}
                <tr>
                    <td>
                        <a class="table-link" href="{% url 'sales:sale_details' pk=sale.pk %}">
                            {{ sale.sale_date|date:"d-m-Y" }}
                        </a>
                    </td>
                    <td class="{{ sale.status_class_name }}">{{ sale.status_display }}</td>
                    <td>{{ sale.quantity }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Aucune vente</p>
        {% endif %}
    </div>
{% endblock %}


