{% extends 'qstockapp/base.html' %}
{% load static %} 

<!-- head  -->
{% block head %}
    <title>Gestion des produits</title>
    <link rel="stylesheet" href="{% static 'css/quickstockapp/details.css' %}">
{% endblock %}

<!-- extra styles  -->
{% block extra_styles %} 
  
{% endblock %}

<!-- body content -->
{% block body %}
    <h3>Details produit</h3>
    <div class="properties">
        <p>Nom <span>{{ product.name }}</span></p>
        <p>
            Quantité en stock <span>{{ product.stock_quantity }}</span>
        </p>
        <p>Paquetage <span>{% if product.packaging_type %} {{ product.packaging_type }} {% else %} - {% endif %}</span></p>
        <p>
            Prix unitaire gros (FCFA)
            <span>{{ product.wholesale_unit_price }}</span>
        </p>
        <p>
            Prix unitaire vente (FCFA)
            <span>{{ product.unit_price_sale }}</span>
        </p>
    </div>

    <a class="link primary" href="{% url 'products:product_update' slug=product.slug%}">modifier</a>
    <a class="link danger" href="{% url 'products:product_delete' slug=product.slug %}">Supprimer</a>
    <a class="link" href="{% url 'products:product_list' %}">Retour à liste produits</a>

{% endblock %}


