<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Gestion des produits</title>

        <style>
            form {
                display: flex;
                flex-direction: column;
                gap: 20px;
                align-items: flex-start;
            }
        </style>
    </head>
    <body>
        <h2>Ajoutez un produit</h2>
        <form method="POST">
            {% csrf_token %} {{ form }}
            <button type="submit">Enrégistrer</button>
            <a href="{% url 'products:product_list' %}">Annuler</a>
        </form>
    </body>
</html>
