{% extends 'qstockapp/base.html' %}
{% load static %}

<!-- head  -->
{% block head %}
<link rel="stylesheet" href="{% static 'css/quickstockapp/form.css' %}">
<title>Gestion des produits</title>
{% endblock %}

<!-- extra styles  -->
{% block extra_styles %} 

{% endblock %}

<!-- body content -->
{% block body %}
    <h3>Modifiez un produit</h3>
    <form method="POST">
        {% csrf_token %} 
        <div class="form-content">
            {{ form }}
        </div>
        <button type="submit">Modifier</button>
        <a class="link" href="{% url 'products:product_details' slug=product.slug %}">Annuler</a>
    </form>
{% endblock %}

