{% extends 'qstockapp/base_admin.html' %}
{% load static %}
{% load template_permission %}

{% block head %}
<title>Administration</title>
<link rel="stylesheet" href="{% static 'css/quickstockapp/table.css' %}">
{% endblock %}

{% block extra_styles %}
.permission {
    background-color: var(--lightgray);
    border-radius: 10px;
}
{% endblock %}

<!-- body content -->
{% block body %}
<div class="heading">
    <div>
        {% if request.user|has_permission:"auth.add_group" %}
        <a class="btn" href="{% url 'accounts:group_create' %}">+ Ajouter</a>
        {% endif %}
    </div>
</div>
{% if group_list %}
<table>
    <thead>
        <tr>
            {% for column in group_column_names %}
            <th>{{ column }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for group in group_list %}
        <tr>
            <td>
                {% if request.user|has_permission:"auth.change_group" %}
                <a class="table-link" href="{% url 'accounts:group_update' pk=group.pk %}">
                    {{ group.name }}
                </a>
                {% else %}
                    {{ group.name }}
                {% endif %}
            </td>
            <td>
                {% for permission in group.permissions.all %}
                <span class="permission">{{ permission.name }}</span>,
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>Accun groupe à afficher</p>
{% endif %}
{% endblock %}