{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/accounts/style.css' %}">

    <title>Se connecter</title>
</head>
<body>
    <main>
        <div class="form-container login">
            <h3>Connexion</h3>
            <form action="#" method="POST">
                {% csrf_token %}

                {% if error %}
                    <div class="error login">{{ error }}</div>
                {% endif %}

                <div>
                    {{ form.username }}
                </div>
                <div>
                    {{ form.password }}
                </div>
                <button type="submit">Connexion</button>
            </form>
        </div>

    </main>

    
</body>
</html>