{% extends 'qstockapp/base_admin.html' %}
{% load static %}
{% load template_permission %}

{% block head %}
<title>Administration</title>
<link rel="stylesheet" href="{% static 'css/quickstockapp/table.css' %}">
{% endblock %}

<!-- body content -->
{% block body %}
<div class="heading">
    <div>
        {% if request.user|has_permission:"accounts.can_add_user" %}
        <a class="btn" href="{% url 'accounts:user_create' %}">+ Ajouter</a>
        {% endif %}
    </div>
</div>
{% if user_list %}
<table>
    <thead>
        <tr>
            {% for column in user_column_names %}
            <th>{{ column }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for user in user_list %}
        <tr>
            <td>
                <a class="table-link" href="{% url 'accounts:user_details' pk=user.pk %}">
                    {{ user.username }}
                </a>
            </td>
            <td>{% if user.last_name %}{{ user.last_name }} {% else %} - {% endif %}</td>
            <td>{% if user.first_name %}{{ user.first_name }} {% else %} - {% endif %}</td>
            <td>{{ user.join_date|date:"d-m-Y H:i" }}</td>
            {% if request.user|has_permission:"accounts.can_change_user" %}
            <td>******<a href="{% url 'accounts:change_user_password' pk=user.pk %}"
                class="link primary">Changer</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>Accun compte utilisateur</p>
{% endif %}
{% endblock %}