{% extends 'qstockapp/base_admin.html' %}
{% load static %}

{% block head %}
<title>Administration</title>
<link rel="stylesheet" href="{% static 'css/quickstockapp/table.css' %}">
{% endblock %}

{% block extra_styles %}
td, th {
    padding: 2px;
}
tbody tr {
    background-color: var(--lightgray)
}
{% endblock %}

<!-- body content -->
{% block body %}
{% if user_action_logs %}
<table>
    <thead>
        <tr>
            {% for column in log_column_names %}
            <th>{{ column }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for log in user_action_logs %}
        <tr>
            <td>
                {{ log.action_time|date:"d-m-Y H:i" }}
            </td>
            <td>{{ log.user }}</td>
            <td>{{ log.content_type.model_class.get_verbose_name }}</td>
            <td>{{ log.object_repr }}</td>
            <td>
                {% if log.is_addition %}
                 ➕ 
                {% elif log.is_change %}
                 ✍ 
                {% else %}
                 ❌ 
                {% endif %}
                {{ log.change_message }}
            </td>
           
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>Accune action</p>
{% endif %}
{% endblock %}