#selected_products {
    border: 1px solid var(--black);
    margin-top: 1.5rem;
    padding: 10px;
    border-radius: 10px;
    min-height: 200px;
}
#id_products {
    resize: vertical;
    min-height: 300px;
}