{% extends 'qstockapp/base.html' %}
{% load static %}

{% block head %}
<title>Gestion des commandes</title>
<link rel="stylesheet" href="{% static 'css/quickstockapp/form.css' %}">
{% endblock %}

{% block body %}
<p>Êtes-vous sûr de vouloir annuler cette commande ?</p>
<form method="POST">
    {% csrf_token %} 
    <div class="form-content vertical">
        <div style="display: flex; gap: .3rem;">
            <input type="checkbox" name="withdraw_from_stock" id="withdraw_from_stock" checked>
            <label for="withdraw_from_stock">Retirer du stock</label>
        </div>
    </div>
    <button type="submit" class="btn danger">Je confirme</button>
</form>
{% endblock %}