{% extends 'qstockapp/base.html' %}
{% load static %}
{% load money_string %}
{% load template_permission %}

<!-- head  -->
{% block head %}
<title>Gestion des commandes</title>
<link rel="stylesheet" href="{% static 'css/quickstockapp/table.css' %}">
<link rel="stylesheet" href="{% static 'css/quickstockapp/filter_form.css' %}">
{% endblock %}

<!-- extra styles  -->
{% block extra_styles %} 
   
{% endblock %}

<!-- body content -->
{% block body %}
<div class="heading">
    <div class="filter-form">
        <form method="GET" class="search-form">
            <input type="text" name="q" placeholder="Chercher une commande (nom du produit)" value="{{ search_query }}">
            <button type="submit" class="btn primary search-btn">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21 21L16.657 16.657M16.657 16.657C17.3999 15.9141 17.9892 15.0322 18.3912 14.0616C18.7933 13.0909 19.0002 12.0506 19.0002 11C19.0002 9.94942 18.7933 8.90911 18.3912 7.93848C17.9892 6.96785 17.3999 6.08591 16.657 5.34302C15.9141 4.60014 15.0322 4.01084 14.0615 3.6088C13.0909 3.20675 12.0506 2.99982 11 2.99982C9.9494 2.99982 8.90908 3.20675 7.93845 3.6088C6.96782 4.01084 6.08589 4.60014 5.343 5.34302C3.84267 6.84335 2.99979 8.87824 2.99979 11C2.99979 13.1218 3.84267 15.1567 5.343 16.657C6.84333 18.1574 8.87821 19.0002 11 19.0002C13.1218 19.0002 15.1567 18.1574 16.657 16.657Z" stroke="black" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
        </form>
        {% if isfilters %}
        <a href="{% url 'orders:order_list' %}">x Annuler tous les filtres</a>
        {% endif %}
    </div>
    <div>
        {% if request.user|has_permission:"orders.can_add_order" %}
        <a class="btn primary" href="{% url 'orders:order_create' %}">+ Ajouter une commande</a>
        {% endif %}
    </div>
</div>

{% if order_list %}
<div class="data-table">
    <table>
        <thead>
            <tr>
                {% for column in order_column_names %}
                <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for order in order_list %}
            <tr>
                <td>{{ order.order_date|date:"d-m-Y" }}</td>
                <td class="{{ order.status_class_name }}">{{ order.status_display }}</td>
                <td>
                    {% if request.user|has_permission:"products.can_view_product" %}
                    <a href="{% url 'products:product_details' slug=order.product.slug %}"
                        class="table-link" title="quantité restante : {{ order.product.stock_quantity }}">
                        {{ order.product.name }}
                    </a>
                    {% else %}
                        {{ order.product.name }}
                    {% endif %}
                </td>
                <td>{{ order.quantity }}</td>
                <td>
                    {% if order.arrived_date != None %} {{ order.arrived_date }} {% else %} - {% endif %}
                </td>
                <td>{{ order.provider_name }}</td>
                <td>{{ order.shipping_costs|money_string }}</td>
                {% if request.user|has_permission:"orders.can_view_order" %}
                <td class="actions">
                    <a href="{% url 'orders:order_details' pk=order.pk %}">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.32 6.17504H5C3.895 6.17504 3 7.12404 3 8.29304V18.881C3 20.051 3.895 20.999 5 20.999H16C17.105 20.999 18 20.051 18 18.881V11.131L14.086 15.275C13.7442 15.6405 13.2991 15.8931 12.81 15.999L10.129 16.567C8.379 16.937 6.837 15.304 7.187 13.452L7.723 10.613C7.82 10.101 8.058 9.63004 8.407 9.26104L11.32 6.17504Z" fill="black"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M19.846 4.31704C19.746 4.0605 19.5977 3.82557 19.409 3.62504C19.2242 3.42846 19.0018 3.27101 18.755 3.16204C18.5117 3.05518 18.2488 3 17.983 3C17.7172 3 17.4543 3.05518 17.211 3.16204C16.9642 3.27101 16.7418 3.42846 16.557 3.62504L16.011 4.20304L18.863 7.22304L19.409 6.64404C19.5978 6.44364 19.7462 6.20867 19.846 5.95204C20.0516 5.42643 20.0516 4.84265 19.846 4.31704ZM17.45 8.72004L14.597 5.69904L9.82 10.759C9.74952 10.8341 9.70199 10.9278 9.683 11.029L9.147 13.869C9.077 14.239 9.386 14.565 9.735 14.491L12.417 13.924C12.5148 13.9028 12.6037 13.8522 12.672 13.779L17.45 8.72004Z" fill="black"/>
                        </svg>
                    </a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% else %}
<p>Aucune commande</p>
{% endif %}
<script>
    document
        .querySelector(".delete_action")
        .addEventListener("click", (e) => {
            e.preventDefault();
            if (confirm("Etes-vous sure de supprimer ?")) {
                const form = e.target.closest("form");
                form.submit();
            }
        });
</script>
{% endblock %}

