<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Gestion des commandes</title>
    </head>
    <body>
        <h2>Commandes</h2>
        <table style="border-collapse: collapse; text-align: left">
            <thead>
                <tr>
                    {% for column in order_column_names %}
                    <th style="border: 1px solid; padding: 5px">
                        {{ column }}
                    </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for order in order_list %}
                <tr>
                    {% for column in order %}
                    <td style="border: 1px solid; padding: 5px">
                        {{ column }}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
