@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Open+Sans&display=swap');

/* resets ---------------- */
html {
    font-size: 16px;
}
:root {
    --textColor: #201e1e;
    --errorColor: #D86346;
    --accentColor: #409e8a;
    --white: #fff;
}
*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Open Sans', sans-serif;
    color: var(--textColor);
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
main {
    padding: 0px 10px;
    max-width: 900px;
    min-width: 400px;
    /* margin: auto; */
    /* margin-top: 80px; */
}

/* general ---------------- */
h1, h3 {
    font-family: 'Montserrat', sans-serif;
}
h3 {
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}
h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: .7rem;
}
main > p {
    margin-bottom: 1.5rem;
}
.error.login {
    background-color: var(--errorColor);
    color: var(--white);
    padding: .2rem;
    font-size: .9rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}
input {
    width: 100%;
    padding: .8rem;
    border: 1px solid var(--textColor);
    border-radius: 5px;
    margin-bottom: .5rem;
    outline: none;
}
.form-container {
    width: 100%;
}
.form-container.login {
    max-width: 500px;
}
form button {
    padding: 7px 15px;
    background-color: var(--accentColor);
    color: var(--white);
    border: none;
    border-radius: 5px;
    font-size: .9rem;
    margin-top: 10px;
    cursor: pointer;
    margin-right: 10px;
}


/* register -------------- */
.error-input {
    border: 1px solid var(--errorColor);
}

form > div {
    display: flex;

}
form > div > div {
    width: 100%;
    margin-right: 10px;
}
form > div > div:last-child {
    margin-right: 0;
}
.error, .help-text {
    color: var(--errorColor);
    font-size: .8rem;
    margin-bottom: 1.3rem;
    padding-left: 10px;
}
.help-text.error {
    color: var(--errorColor);
}
.help-text {
    color: var(--textColor);
}
 